<div class="container-scroller">
  <!-- partial:../../partials/_navbar.html -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" *ngIf="isConnexion() == false">
    <div
      class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start"
    >
      <a class="navbar-brand brand-logo me-5" href="../../index.html"
        ><img src="../../assets/images/logo.png" class="me-2" alt="logo"
      /></a>
      <a class="navbar-brand brand-logo-mini" href="../../index.html"
        ><img src="../../assets/images/logo-mini.png" alt="logo"
      /></a>
    </div>
    <div
      class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
    >
      <button
        class="navbar-toggler navbar-toggler align-self-center"
        type="button"
        data-toggle="minimize"
      >
        <span class="icon-menu"></span>
      </button>
      <ul class="navbar-nav mr-lg-2">
        <li class="nav-item nav-search d-none d-lg-block">
          <div class="input-group">
            <div
              class="input-group-prepend hover-cursor"
              id="navbar-search-icon"
            >
              <span class="input-group-text" id="search">
                <i class="icon-search"></i>
              </span>
            </div>
            <input
              type="text"
              class="form-control"
              id="navbar-search-input"
              placeholder="Search now"
              aria-label="search"
              aria-describedby="search"
            />
          </div>
        </li>
      </ul>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item dropdown">
          <a
            class="nav-link count-indicator dropdown-toggle"
            id="notificationDropdown"
            href="#"
            data-bs-toggle="dropdown"
          >
            <i class="icon-bell mx-0"></i>
            <span class="count"></span>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
            aria-labelledby="notificationDropdown"
          >
            <p class="mb-0 font-weight-normal float-left dropdown-header">
              Notifications
            </p>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-success">
                  <i class="ti-info-alt mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal">
                  Application Error
                </h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                  Just now
                </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-warning">
                  <i class="ti-settings mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal">Settings</h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                  Private message
                </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <div class="preview-icon bg-info">
                  <i class="ti-user mx-0"></i>
                </div>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal">
                  New user registration
                </h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                  2 days ago
                </p>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item nav-profile dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
            id="profileDropdown"
          >
            <img src="../../assets/images/faces/face28.jpg" alt="profile" />
          </a>
          <div
            class="dropdown-menu dropdown-menu-right navbar-dropdown"
            aria-labelledby="profileDropdown"
          >
            <a class="dropdown-item">
              <i class="ti-settings text-primary"></i> Settings
            </a>
            <a class="dropdown-item">
              <i class="ti-power-off text-primary"></i> Logout
            </a>
          </div>
        </li>
        <li class="nav-item nav-settings d-none d-lg-flex">
          <a class="nav-link" href="#">
            <i class="icon-ellipsis"></i>
          </a>
        </li>
      </ul>
      <button
        class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
        type="button"
        data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar" *ngIf="isConnexion() == false">
      <ul class="nav">
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="collapse"
            href="#ui-basic"
            aria-expanded="false"
            aria-controls="ui-basic"
          >
            <i class="icon-layout menu-icon"></i>
            <span class="menu-title">Tableau de bord </span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="Dashboard/planninglicence"
                  >Planning Licence </a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="Dashboard/planningmaster"
                  >Planning Master</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="collapse"
            href="#ui-basic"
            aria-expanded="false"
            aria-controls="ui-basic"
          >
            <i class="icon-layout menu-icon"></i>
            <span class="menu-title">Configuration</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" routerLink="configuration/filiere"
                  >Filières</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="configuration/anneeacademique"
                  >Années academiques</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  routerLink="configuration/niveauetude"
                  >Niveau d'étude</a
                >
              </li>
            </ul>
          </div>
        </li>


        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="collapse"
            href="#tables"
            aria-expanded="false"
            aria-controls="tables"
          >
            <i class="icon-grid-2 menu-icon"></i>
            <span class="menu-title">Soutenance</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="tables">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" href="Soutenance/themelicence">Themes</a>
              </li>

            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="collapse"
            href="#icons"
            aria-expanded="false"
            aria-controls="icons"
          >
            <i class="icon-contract menu-icon"></i>
            <span class="menu-title">Etudiants</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="icons">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" href="etudiant/licence"
                  >Licence 3</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="etudiant/master"
                  >Master 2</a
                >
              </li>
            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="collapse"
            href="#error"
            aria-expanded="false"
            aria-controls="error"
          >
            <i class="icon-ban menu-icon"></i>
            <span class="menu-title">Jury</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="error">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link"
                routerLink="jury/president"
                >
                 Membre du jury
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-bs-toggle="collapse"
            href="#auth"
            aria-expanded="false"
            aria-controls="auth"
          >
            <i class="icon-head menu-icon"></i>
            <span class="menu-title">Impression</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="auth">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" href="../../pages/samples/login.html">
                  PV de Soutenance
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../pages/samples/register.html">
                  Planning
                </a>
              </li>
            </ul>
          </div>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="../../../docs/documentation.html">
            <i class="icon-paper menu-icon"></i>
            <span class="menu-title">Documentation</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
      <!-- content-wrapper ends -->
      <!-- partial:../../partials/_footer.html -->
      <footer class="footer">
        <div
          class="d-sm-flex justify-content-center justify-content-sm-between"
        >
          <span style="margin-left: 40%;" class="text-muted text-center text-sm-left d-block d-sm-inline-block">PIGIER BENIN  2024 <br> Tout droits reservés.</span>

        </div>
      </footer>
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
